<div [ngClass]="{'header': true, 'entry-animate': animate}">
    <div class="left">
        Project Concept
    </div>
    <div class="right">
        The Prestigious location, author's architecture, well-maintained closed territory and its own branched infrastructure creates a unique atmosphere and the most comfortable conditions to live, create and love.
    </div>
</div>
<div [ngClass]="{'image-body': true, 'entry-animate': animate}">
    <img src="/assets/imgs/desert/1.jpeg" />
    <div class="small-overlay">
        Let's explore
        <div class="button">
            <span class="arrow-right"></span>
        </div>
    </div>
</div>
